body {
  display: grid;
  justify-content: center;
}

body,
h1,
h2,
ul {
  margin: 0px;
  padding: 0px;
}

header {
  content: "";
  width: 100%;
  height: 200px;
  background: #fcf2ce;
  position: absolute;
}

h1,
p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

h1 {
  font: 400 3.75rem/1.166 "roboto", Arial, Helvetica, sans-serif;
  color: #f0cb82;
  margin-top: 35px;
}

p {
  font: 400 1rem/1.375 "Patrick Hand", cursive;
  color: #ba7532;
  margin-top: 100px;
}

.logo {
  position: relative;
  margin-top: 141.5px;
  margin-bottom: 12.5px;
}

h2 {
  font: 700 1rem/1.188 "Roboto", Arial, Helvetica, sans-serif;
  color: #64482e;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0px;
  text-align: center;
}

.redes-sociais:first-child {
  padding-right: 8px;
}

.redes-sociais:last-child {
  padding-left: 8px;
}

.redes-sociais {
  padding-top: 16px;
  padding-bottom: 64px;
  text-align: center;
}

li {
  padding-bottom: 25px;
}

li:not(:last-child):after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  margin-top: 12px;
  background: #fcf2ce;
  position: absolute;
}

li a {
  text-decoration: none;
  font: 400 1.125rem/0.013 "Patrick Hand", cursive;
  color: #64482e;
  padding-left: 8px;
}

li a:hover {
  color: #ba7532;
}

@media (max-width: 480px) {
  header {
    height: 180px;
  }
  h1 {
    font-size: 2.25rem;
    line-height: 1.166;
  }
  p {
    margin-top: 80px;
  }
  .logo {
    margin-top: 118px;
  }
  .redes-sociais {
    padding-bottom: 45px;
  }
}
